
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Georgia Works</title>
  <!-- Bootstrap core CSS-->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template-->
  <link href="static/css/sb-admin.css" rel="stylesheet">
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="/">Georgia Works</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
          <a class="nav-link" href="/">
            <i class="fa fa-fw fa-dashboard"></i>
            <span class="nav-link-text">Dashboard</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Charts">
          <a class="nav-link" href="/charts">
            <i class="fa fa-fw fa-area-chart"></i>
            <span class="nav-link-text">Charts</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
          <a class="nav-link" href="/tables">
            <i class="fa fa-fw fa-table"></i>
            <span class="nav-link-text">Tables</span>
          </a>
        </li>

      </ul>
      <ul class="navbar-nav sidenav-toggler">
        <li class="nav-item">
          <a class="nav-link text-center" id="sidenavToggler">
            <i class="fa fa-fw fa-angle-left"></i>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <!-- I removed the search box in the menu, since it does nothing-->  
        <li class="nav-item">
          <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
            <i class="fa fa-fw fa-sign-out"></i>Logout</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Application Page</li>
      </ol>
      <div class="row">
        <div class="col-12">
        <form action="/submitted" method="POST">
          <h1>Application For Intake</h1>
          <br>Date:<br><input type="date" name="date" class="form-control" required><br>
          Last Name<br><input name='lastname' type="text" class="form-control" required><br>
          First Name<br><input name='firstname' placeholder="Print Legal Name Only" type="text" class="form-control" required><br>
          Middle Name<br><input name='middlname' type="text" class="form-control"><br>
          Have you been in this program before?<br>
          <input type="radio" name="program" value="yes" required> Yes<br>
          <input type="radio" name="program" value="no"> No<br>
          <br>If Yes, When?:<br><input type="date" name="dateleft" class="form-control"><br>
          How did you exit this program?<br>
          <input type="radio" name="exit" value="hired" required> Got Hired<br>
          <input type="radio" name="exit" value="left"> Left<br>
          <input type="radio" name="exit" value="discharge"> Discharged<br>
          <input type="radio" name="exit" value="relapse"> Relapsed<br>
          <br>If No, How did you hear about Georgia Works<br><input name='hear' type="text" class="form-control"><br>
          Birth Date:<br><input type="date" name="birthdate" class="form-control" required><br>
          SSN<br><input type="text" id="ssn" name="ssn" placeholder="555-55-5555" pattern="\d{3}-?\d{2}-?\d{4}" required><br>
          <br>Race<br>
          <input type="radio" name="race" value="indian" required> American Indian / Alaskan<br>
          <input type="radio" name="race" value="asian"> Asian<br>
          <input type="radio" name="race" value="black"> Black or African American<br>
          <input type="radio" name="race" value="pacific"> Pacific Islanders<br>
          <input type="radio" name="race" value="white"> White<br>
          <input type="radio" name="race" value="other"> Other<br>
          <input type="radio" name="race" value="his"> Hispanic<br>
          <input type="radio" name="race" value="nonhis"> Non-Hispanic<br>
          <input type="radio" name="race" value="more"> Two or More<br>
          <br>Age<br><input name='age' type="text" class="form-control" required><br>
          Ethnicity<br><input name='ethnicity' type="text" class="form-control" required><br>
          Gender<br>
          <input type="radio" name="gender" value="male" required> Male<br>
          <input type="radio" name="gender" value="transgender"> Transgender<br>
          <br><label for="emergencycontact">Emergency Contact Information </label><br>
          Contact Name<br><input name='contact' type="text" class="form-control"><br>
          Relationship<br><input name='relation' type="text" class="form-control"><br>
          Address<br><input name='addr' type="text" class="form-control"><br>
          Apt<br><input name='apt' type="text" class="form-control"><br>
          Phone Number<br><input type="number" id="phonenum" name="phonenum" placeholder="555-555-5555" pattern="\d{3}-?\d{2}-?\d{4}"><br>
          <br>City<br><input name='city' type="text" class="form-control"><br>
          State<br><input name='state' type="text" class="form-control"><br>
          Zip Code<br><input type="text" name="zip" id="zip" pattern="[0-9]{5}"><br>
          <br>Length of time in Atlanta<br><input name='timeatl' type="text" class="form-control" required><br>
          Last Zip Code<br><input type="text" name="zip" id="zip" pattern="[0-9]{5}" required><br>
          <br>Are you currently homeless?<br>
          <input type="radio" name="homeless" value="yes" required> Yes<br>
          <input type="radio" name="homeless" value="no"> No<br>
          <br>Number of Years Homeless<br><input type="number" name="homelessyears" id="homeslessyears" class="form-control" required><br>
          Are you *Chronically Homeless?<br>
          <input type="radio" name="chronic" value="yes"> Yes<br>
          <input type="radio" name="chronic" value="no"> No<br>
          *Continuously homeless for a year or more, or has had a least four episodes of homelessness in the past three years.<br>
          <br><label for="lastadr">Last Permanent Address </label><br>
          Address<br><input name='lastaddr' type="text" class="form-control"><br>
          Apt/Unit<br><input name='lastapt' type="text" class="form-control"><br>
          City<br><input name='lastcity' type="text" class="form-control"><br>
          State<br><input name='laststate' type="text" class="form-control"><br>
          Zip Code<br><input type="text" name="zip" id="zip" pattern="[0-9]{5}" class="form-control"><br>
          Number of Times Arrested<br><input name='arrest' type="number" class="form-control" required><br>
          Do you have a pending charge?<br>
          <input type="radio" name="charge" value="yes" required> Yes<br>
          <input type="radio" name="charge" value="no"> No<br>
          <br>If Yes, What?<br><input name='whatcharge' type="text" class="form-control"><br>
          Prior Felony Charge(s)<br><input name='priorcharge' type="text" class="form-control"><br>
          Drug(s) of Choice<br><input name='drugs' type="text" class="form-control"><br>
          Check Highest Education<br>
          <input type="radio" name="edu" value="6-9" required> 6-9 Grade Education<br>
          <input type="radio" name="edu" value="10-11"> 10-11 Grade Education<br>
          <input type="radio" name="edu" value="hs"> High School Diploma<br>
          <input type="radio" name="edu" value="ged"> GED/HS Equivalency<br>
          <input type="radio" name="edu" value="4yr"> 4-Yr Degree<br>
          <input type="radio" name="edu" value="master"> Master's Degree<br>
          <input type="radio" name="edu" value="voc"> Vocational Training<br>
          <br>***Do you have problems reading?<br>
          <input type="radio" name="read" value="yes"> Yes<br>
          <input type="radio" name="read" value="no"> No<br>
          <br>***Do you have mental health issues?<br>
          <input type="radio" name="health" value="yes"> Yes<br>
          <input type="radio" name="health" value="no"> No<br>
          <br>If Yes, What is it?<br><input name='mental' type="text" class="form-control"><br>
          <label for="lastadr"><b>Answer All Questions</b></label>
          <br>Do You Have a Valid Driver's License?<br>
          <input type="radio" name="license" value="yes" required> Yes<br>
          <input type="radio" name="license" value="no"> No<br>
          <br>Do You Own a Vehicle (Car)?<br>
          <input type="radio" name="car" value="yes" required> Yes<br>
          <input type="radio" name="car" value="no"> No<br>
          <br>Do You Owe Child Support?<br>
          <input type="radio" name="child" value="yes" required> Yes<br>
          <input type="radio" name="child" value="no"> No<br>
          <br>Are You a Veteran?<br>
          <input type="radio" name="vet" value="yes" required> Yes<br>
          <input type="radio" name="vet" value="no"> No<br>
          <br>Do You Receive SNAP (food stamps)?<br>
          <input type="radio" name="snap" value="yes" required> Yes<br>
          <input type="radio" name="snap" value="no"> No<br>
          <br>Time since last job<br><input name='lastjob' type="text" class="form-control" required><br>
          Type of work<br><input name='worktype' type="text" class="form-control" required><br>
          Have you ever been hurt on a job?<br>
          <input type="radio" name="hurt" value="yes" required> Yes<br>
          <input type="radio" name="hurt" value="no"> No<br>
          <br>If Yes, When?<br><input name='yeshurt' type="text" class="form-control"><br>
          Can you physically work now?<br>
          <input type="radio" name="physwork" value="yes" required> Yes<br>
          <input type="radio" name="physwork" value="no"> No<br>
          <br>If No, Why?<br><input name='nowork' type="text" class="form-control"><br>
          List any physical restrictions<br><input name='restr' type="text" class="form-control"><br>
          List Skills, Certifications or Type of Jobs Worked<br><input name='skills' type="text" class="form-control" required><br>

          <button class="btn btn-success btn-block" type="submit" id="submit">Submit</button>
        {% if errors %}
          <div class="alert alert-danger">
        {{ errors }}
          </div>
        {% endif %}
        {% if success %}
            <div class="alert alert-success">
        {{ success }}
          </div>
        {% endif %}
        </form>
        </div>
      </div>
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Georgia Works</small>
        </div>
      </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="/login">Logout</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/popper/popper.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="static/js/sb-admin.min.js"></script>
  </div>
</body>

</html>
